<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>fidgetGlow_1</string>
	<string>fidgetGlow_2</string>
	<string>fidgetGlow_3</string>
	<string>fidgetGlow_4</string>
	<string>fidgetGlow_5</string>
	<string>fidgetGlow_6</string>
	<string>fidgetGlow_7</string>
	<string>fidgetGlow_8</string>
	<string>fidgetGlow_9</string>
	<string>fidgetGlow_10</string>
	<string>fidgetGlow_11</string>
	<string>fidgetGlow_12</string>
	<string>fidgetGlow_13</string>
	<string>fidgetGlow_14</string>
	<string>fidgetGlow_15</string>
	<string>fidgetGlow_16</string>
	<string>fidgetGlow_17</string>
	<string>fidgetGlow_18</string>
	<string>fidgetGlow_19</string>
	<string>fidgetGlow_20</string>
	<string>fidgetGlow_21</string>
	<string>fidgetGlow_22</string>
	<string>fidgetGlow_23</string>
	<string>fidgetGlow_24</string>
	<string>fidgetGlow_25</string>
	<string>fidgetGlow_26</string>
	<string>fidgetGlow_27</string>
	<string>fidgetGlow_28</string>
	<string>fidgetGlow_29</string>
	<string>fidgetGlow_30</string>
	<string>fidgetGlow_31</string>
	<string>fidgetGlow_32</string>
	<string>fidgetGlow_33</string>
	<string>fidgetGlow_34</string>
	<string>fidgetGlow_35</string>
	<string>fidgetGlow_36</string>
	<string>fidgetGlow_37</string>
	<string>fidgetGlow_38</string>
	<string>fidgetGlow_39</string>
	<string>fidgetGlow_40</string>
	<string>fidgetGlow_41</string>
	<string>fidgetGlow_42</string>
	<string>fidgetGlow_43</string>
	<string>fidgetGlow_44</string>
	<string>fidgetGlow_45</string>
	<string>fidgetGlow_46</string>
	<string>fidgetGlow_47</string>
	<string>fidgetGlow_48</string>
	<string>fidgetGlow_49</string>
	<string>fidgetGlow_50</string>
	<string>fidgetGlow_51</string>
	<string>fidgetGlow_52</string>
	<string>fidgetGlow_53</string>
	<string>fidgetGlow_54</string>
	<string>fidgetGlow_55</string>
	<string>fidgetGlow_56</string>
	<string>fidgetGlow_57</string>
	<string>fidgetGlow_58</string>
	<string>fidgetGlow_59</string>
	<string>fidgetGlow_60</string>
	<string>fidgetGlow_61</string>
	<string>fidgetGlow_62</string>
	<string>fidgetGlow_63</string>
	<string>fidgetGlow_64</string>
	<string>fidgetGlow_65</string>
	<string>fidgetGlow_66</string>
	<string>fidgetGlow_67</string>
	<string>fidgetGlow_68</string>
	<string>fidgetGlow_69</string>
	<string>fidgetGlow_70</string>
	<string>fidgetGlow_71</string>
	<string>fidgetGlow_72</string>
	<string>fidgetGlow_73</string>
	<string>fidgetGlow_74</string>
	<string>fidgetGlow_75</string>
	<string>fidgetGlow_76</string>
	<string>fidgetGlow_77</string>
	<string>fidgetGlow_78</string>
	<string>fidgetGlow_79</string>
	<string>fidgetGlow_80</string>
	<string>fidgetGlow_81</string>
	<string>fidgetGlow_82</string>
	<string>fidgetGlow_83</string>
	<string>fidgetGlow_84</string>
	<string>fidgetGlow_85</string>
	<string>fidgetGlow_86</string>
	<string>fidgetGlow_87</string>
	<string>fidgetGlow_88</string>
	<string>fidgetGlow_89</string>
	<string>fidgetGlow_90</string>
	<string>fidgetGlow_91</string>
	<string>fidgetGlow_92</string>
	<string>fidgetGlow_93</string>
	<string>fidgetGlow_94</string>
	<string>fidgetGlow_95</string>
	<string>fidgetGlow_96</string>
	<string>fidgetGlow_97</string>
	<string>fidgetGlow_98</string>
	<string>fidgetGlow_99</string>
	<string>fidgetGlow_100</string>
	<string>fidgetGlow_101</string>
	<string>fidgetGlow_102</string>
	<string>fidgetGlow_103</string>
	<string>fidgetGlow_104</string>
	<string>fidgetGlow_105</string>
	<string>fidgetGlow_106</string>
	<string>fidgetGlow_107</string>
	<string>fidgetGlow_108</string>
	<string>fidgetGlow_109</string>
	<string>fidgetGlow_110</string>
	<string>fidgetGlow_111</string>
	<string>fidgetGlow_112</string>
	<string>fidgetGlow_113</string>
	<string>fidgetGlow_114</string>
	<string>fidgetGlow_115</string>
	<string>fidgetGlow_116</string>
	<string>fidgetGlow_117</string>
	<string>fidgetGlow_118</string>
	<string>fidgetGlow_119</string>
	<string>fidgetGlow_120</string>
	<string>fidgetGlow_121</string>
	<string>fidgetGlow_122</string>
	<string>fidgetGlow_123</string>
	<string>fidgetGlow_124</string>
	<string>fidgetGlow_125</string>
	<string>fidgetGlow_126</string>
	<string>fidgetGlow_127</string>
	<string>fidgetGlow_128</string>
	<string>fidgetGlow_129</string>
	<string>fidgetGlow_130</string>
	<string>fidgetGlow_131</string>
	<string>fidgetGlow_132</string>
	<string>fidgetGlow_133</string>
	<string>fidgetGlow_134</string>
	<string>fidgetGlow_135</string>
	<string>fidgetGlow_136</string>
	<string>fidgetGlow_137</string>
	<string>fidgetGlow_138</string>
	<string>fidgetGlow_139</string>
	<string>fidgetGlow_140</string>
	<string>fidgetGlow_141</string>
	<string>fidgetGlow_142</string>
	<string>fidgetGlow_143</string>
	<string>fidgetGlow_144</string>
	<string>fidgetGlow_145</string>
	<string>fidgetGlow_146</string>
	<string>fidgetGlow_147</string>
	<string>fidgetGlow_148</string>
	<string>fidgetGlow_149</string>
	<string>fidgetGlow_150</string>
	<string>fidgetGlow_151</string>
	<string>fidgetGlow_152</string>
	<string>fidgetGlow_153</string>
	<string>fidgetGlow_154</string>
	<string>fidgetGlow_155</string>
	<string>fidgetGlow_156</string>
	<string>fidgetGlow_157</string>
	<string>fidgetGlow_158</string>
	<string>fidgetGlow_159</string>
	<string>fidgetGlow_160</string>
	<string>fidgetGlow_161</string>
	<string>fidgetGlow_162</string>
	<string>fidgetGlow_163</string>
	<string>fidgetGlow_164</string>
	<string>fidgetGlow_165</string>
	<string>fidgetGlow_166</string>
	<string>fidgetGlow_167</string>
	<string>fidgetGlow_168</string>
	<string>fidgetGlow_169</string>
	<string>fidgetGlow_170</string>
	<string>fidgetGlow_171</string>
	<string>fidgetGlow_172</string>
	<string>fidgetGlow_173</string>
	<string>fidgetGlow_174</string>
	<string>fidgetGlow_175</string>
	<string>fidgetGlow_176</string>
	<string>fidgetGlow_177</string>
	<string>fidgetGlow_178</string>
	<string>fidgetGlow_179</string>
	<string>fidgetGlow_180</string>
	<string>fidgetGlow_181</string>
	<string>fidgetGlow_182</string>
	<string>fidgetGlow_183</string>
	<string>fidgetGlow_184</string>
	<string>fidgetGlow_185</string>
	<string>fidgetGlow_186</string>
	<string>fidgetGlow_187</string>
	<string>fidgetGlow_188</string>
	<string>fidgetGlow_189</string>
	<string>fidgetGlow_190</string>
	<string>fidgetGlow_191</string>
	<string>fidgetGlow_192</string>
	<string>fidgetGlow_193</string>
	<string>fidgetGlow_194</string>
	<string>fidgetGlow_195</string>
	<string>fidgetGlow_196</string>
	<string>fidgetGlow_197</string>
	<string>fidgetGlow_198</string>
	<string>fidgetGlow_199</string>
	<string>fidgetGlow_200</string>
	<string>fidgetGlow_201</string>
	<string>fidgetGlow_202</string>
	<string>fidgetGlow_203</string>
	<string>fidgetGlow_204</string>
	<string>spinner_u41_1</string>
	<string>spinner_u41_2</string>
	<string>spinner_u41_3</string>
	<string>spinner_u41_4</string>
	<string>spinner_u41_5</string>
	<string>spinner_u41_6</string>
</array>
</plist>
